<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://e4pocapi20211201104609.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ec63878e-9312-45a7-8351-52e67562ef9b/resourceGroups/LearnRG/providers/Microsoft.Web/sites/e4POCApi20211201104609</ResourceId>
    <UserName>$e4POCApi20211201104609</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://e4pocapi20211201104609.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>